<footer class="footer page-section-pt">
    <div class="container-footer">
        <div class="row">
            <div class="col-lg-2 col-sm-6 sm-mb-30">
                <div class="footer-useful-link footer-hedding">
                    <h6 class="mb-30 mt-10 text-uppercase">Navigation</h6>
                    <ul>
                        <li><a href="index.aspx">Home</a></li>
                        <li><a href="toshiba-johnson-elevators-india-pvt-ltd.aspx">About Us</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="sales-form.aspx">Enquire Us</a></li>
                        <li><a href="contact-toshiba-india.aspx">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="footer-useful-link footer-hedding">
                    <h6 class="mb-30 mt-10 text-uppercase">Why Toshiba?</h6>
                    <ul>
                        <li><a href="worlds-fastest-elevators.aspx">One of the World's Fastest Elevators</a></li>
                        <li><a href="worlds-fastest-outdoor-elevators.aspx">World's Fastest Outdoor Elevators</a></li>
                        <li><a href="double-deck-elevators.aspx">Double Deck Elevators</a></li>
                        <li><a href="worlds-tallest-broadcasting-tower.aspx">World's Tallest Broadcasting Tower</a></li>
                        <li><a href="landmark-achievements.aspx"> Landmark Achievements </a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="footer-useful-link footer-hedding">
                    <h6 class="mb-30 mt-10 text-uppercase">Our Products</h6>
                    <ul>
                        <li><a href="elevators-lift.aspx">Elevators / Lifts </a></li>
                        <li><a href="escalators.aspx">Escalators</a></li>
                        <li><a href="moving-walkway.aspx">Moving Walkway</a></li>
                        <li><a href="destination-control-system-floornavi.aspx"> FLOORNAVI - Destination Control
                                System</a></li>
                        <li><a href="traffic-planning.aspx">Traffic Planning</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 xs-mb-30">
                <h6 class="mb-30 mt-10 text-uppercase">Contact Us</h6>
                <ul class="addresss-info">
                    <li>Starway Elevators (India) Pvt. Ltd.</li>
                    <li><i class="fa fa-map-marker"></i>
                        <p>101, 7Th Floor, Four Square, BKC Complex, 111, Andheri Kurla Road,
                            Andheri (E), Mumbai - 400079. India.</p>
                    </li>
                    <li><i class="fa fa-phone"></i> <a href="tel:932661821660"> <span>+ 91-22-5191 9900</span> </a>
        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>